<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img style="width: 400px" src="/logo-icon.png" alt="" />
  </div>
  <div class="headings">
    <h2>Best products</h2>
    <h3></h3>

    <a href="/store" class="btn">View All Products</a>
  </div>
</header>

<%- include('partials/footer'); -%>
